<h1>Invoice</h1>


<div *ngIf="invoices">
  <table class='table table-striped table-bordered' aria-labelledby="tableLabel">
    <thead style="background-color: #A9B2C3">
      <tr>
        <th>Id</th>
        <th> Invoice Date</th>
        <th>Invoice Ammount</th>
        <th>Created By</th>
       <th>Invoice To</th>
        <th>Status</th>
        <th>Approved By</th>
       <th>Remark</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{ invoice.id}}</td>
        <td>{{invoice.invoiceDate}}</td>
        <td>{{invoice.invoiceAmount }}</td>
        <td>{{ invoice.createdBy }}</td>
        <td>{{ invoice.invoiceTo}}</td>
        <td>{{ invoice.status}}</td>
        <td>{{ invoice.approvedBy}}</td>
        <td>{{ invoice.remark}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="button" value="Add" />
  </div>
</div>
