<form [formGroup]="expenseForm" (ngSubmit) = "onSubmit()">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="createdBy">Created By: </label>
        <input
          class="col-sm-4"
          id="createdBy"
          type="text"
          formControlName="createdBy"
        />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="createdDate"
          >Created Date:
        </label>
        
  
        <input type="date" formControlName="createdDate" matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker">
         
      </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="amount">Amount: </label>
        <input
          class="col-sm-4"
          id="amount"
          type="number"
          formControlName="amount"
        />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="expenseDetails"
          >Expense Details:
        </label>
        <input
          class="col-sm-4"
          id="expenseDetails"
          type="text"
          formControlName="expenseDetails"
        />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="approvedBy"
          >Approved By:
        </label>
        <input
          class="col-sm-4"
          id="approvedBy"
          type="text"
          formControlName="approvedBy"
        />
      </div>
    </div>
    <button type="submit" >Submit</button>
  </form>
  
  