<h1>Expense</h1>
<div *ngIf="!expenses">
  <mat-progress-spinner
    class="loading"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-spinner>
</div>

<div *ngIf="expenses">
  <table
    class="table table-striped table-bordered"
    aria-labelledby="tableLabel"
  >
    <thead style="background-color: #a9b2c3">
      <tr>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Amount</th>
        <th>Reason</th>
        <th>Approved By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.createdBy }}</td>
        <td>{{ expense.createdDate | date }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.expenseDetails }}</td>
        <td>{{ expense.approvedBy }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="button" value="Add" (click) = "openEditExpense()" />
  </div>
</div>
