a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  align-content:flex-start;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

