/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.loading {
  left: 50%;
  /* top:50%; */
  /* margin-top: -4em; */
  margin-left: -4em;
}