<form [formGroup]="vehicleForm" (ngSubmit) = "onSubmit()">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="id">Id: </label>
        <input
          class="col-sm-4"
          id="id"
          type="number"
          formControlName="id"
        />
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="name"
          >Name:
        </label>
        <input
          class="col-sm-4"
          id="name"
          type="text"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="class"
          >Class:
        </label>
        <input
          class="col-sm-4"
          id="class"
          type="text"
          formControlName="class"
        />
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="createdDate"
          >CreatedDate:
        </label>
        
        <input type="date" formControlName="createdDate" matInput placeholder="mm/dd/yyyy" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker">
         
      </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
      </div>
      
   
      
    
    </div>
    <button type="submit" >Submit</button>
  </form>
  
  