<h1>Vehicle</h1>
<div *ngIf="!vehicles">
  <mat-progress-spinner
    class="loading"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-spinner>
</div>

<div *ngIf="vehicles">
  <table
    class="table table-striped table-bordered"
    aria-labelledby="tableLabel"
  >
    <thead style="background-color: #a9b2c3">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Class</th>
        <th>CreatedDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.Id }}</td>
        <td>{{ vehicle.Name }}</td>
        <td>{{ vehicle.Class }}</td>
        <td>{{ vehicle.CreatedDate | date}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <input type="button" value="Add" (click) = "openEditVehicle()" />
  </div>
</div>
