<h1>Transport Options</h1>

<div *ngIf="transports">
  <table class="table table-striped" aria-labelledby="tableLabel">
    <thead style="background-color: #a9b2c3">
      <tr>
        <th>Mode of Transport</th>
        <th>Applied Date</th>
        <th>Minimum Amount/Month</th>
        <th>Distance(in km)</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transport of transports">
        <td>{{ transport.modeOfTransport }}</td>
        <td>{{ transport.appliedDate | date }}</td>
        <td>{{ transport.minAmount }}</td>
        <td>{{ transport.distance }}</td>
        <td>{{ transport.status }}</td>
      </tr>
    </tbody>
  </table>
    <div>
     <input type="button" value="New Request" (click)="openForm()">
     </div>
  </div>


