<html>
<body>
<form>
    <fieldset>
        <legend>Transportation Details</legend>
  <label>Mode Of transport: </label><br>
    <input type="radio" id="mode" name="mode" > Cab<br>
    <input type="radio" id="mode" name="mode" > Bus<br>
    <input type="radio" id="mode" name="mode" > Private vehicle<br>
  <label>Date:</label><br>
  <input type="date" id="Todaysdate" name="Todaysdate" min="2022-01-01"><br>
  <label>Distance(in kms):</label><br>
  <input type="text" id="dist" name="dist"><br>
  <label>Amount(in Rs):</label><br>
  <input type="text" id="amt" name="amt"><br>
  
   <label for="lname">Status:</label><br>
  <input type="text" id="lname" name="lname" value="Initiated"><br><br>
    <input type="submit" value="Submit" (click)="saveNew()" >
    <input type="reset">
    </fieldset>
</form>
</body>
</html>


